@model projet_sage_ecommerce.Models.CAdxModel


<div class="request-container">

    @using (Html.BeginForm("Read","Home"))
    {
    <p>
        recherchez un article :
        @Html.TextBox("nom_article_recherche")
    </p>
    <input type="submit" value="Valider" />
    }
</div>