@model projet_sage_ecommerce.Models.CAdxModel

<div class="d-flex">
    <div class="input-group justify-content-end">

        @using (Html.BeginForm("Read","Home"))
        {
        <div class="d-flex">
            <input class="form-control" type="search" name="nom_article_recherche" placeholder="Recherche">
            <div class="input-group-append">
                <button class="btn btn-dark" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
        }
        
    </div>
</div>
