@model projet_sage_ecommerce.Models.CAdxModel

<div class="d-flex">
    <div class="input-group justify-content-end">

        @using (Html.BeginForm("Read","Home"))
        {
        <div style="display:flex">
            @Html.TextBox("nom_article_recherche")
            <button class="btn btn-primary" type="submit">Rechercher</button>
        </div>
        
        }
    </div>
</div>
