@{
    ViewBag.Title = "A propos";
    ViewBag.Message = "Projet ERP - Site e-commerce Sage X3 & C# ASP.NET";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="display-4">Équipe Sage X3</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Julien HUANG</li>
                <li class="list-group-item">Richard CHEN</li>
                <li class="list-group-item">William LANNEREY</li>
                <li class="list-group-item">Swann JUMPERTZ</li>
            </ul>
        </div>
        <div class="col">
            <p class="display-4">Équipe C# ASP.NET</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Quentin JOLIVET</li>
            <li class="list-group-item">Dayana VILLADA RODRIGUEZ</li>
            <li class="list-group-item">Luca MARTINOLLI</li>
            <li class="list-group-item">Kévin FERREIRA</li>
        </ul>
    </div>
</div>
</div>