<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Mon Panier</h1>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= 3; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td><src img=""></src></td>
                    <td>Article @i</td>
                    <td>1</td>
                    <td>
                        <input type="number" id="qte" value="0" aria-describedby="qteHelp">
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="mb-3 form-check">
        <label for="total" class="form-label">Total : </label>
        <input type="number" class="form-control" id="total" value="0" aria-describedby="dateHelp" disabled>
    </div>
    <button type="submit" class="btn btn-primary">Valider</button>
</body>
</html>