@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dada Shop<br />
    Université de Paris<br />
    143, avenue de Versailles - 75016 PARIS
</address>

<address>
    <strong>Github:</strong>   <a href="https://github.com/kevin-fer/projet-sage-ecommerce">Code source</a><br />
</address>